body {
  background-color: powderblue;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

div {
  box-sizing: border-box;
}

.form {
  padding: 10px;
  text-align: center;
}

.lightbox {
    display: none;
}

.overlay {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.5);
}

#lightbox-img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 100%;
    max-height: 100%;
}

.menu {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);

  padding: 10px 10px;

  width: 500px;
  max-width: 100%;

  text-align: center;
  font: 15px sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
}

.menu-arrow:hover {
    cursor: pointer;
}

#grid {
  margin: 0px;
  padding: 0px;
  font-size: 0;
  text-align: center;
}

.square {
  object-fit: cover;

  width: 10vw;
  height: 10vw;
  padding: 2px;

  overflow: hidden;
  cursor: pointer;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .square {
    width: 45vw;
    height: 45vw;
    padding: 0px;
  }
}

@media only screen and (min-width: 600px) and ( max-width: 900px) {
  .square {
    width: 15vw;
    height: 15vw;
    padding: 1px;
  }
}